.section-title {
    margin-bottom: 1rem;
    font-size: 25px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.section-p {
    font-size: 14px;
    line-height: 1.538;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}

.email-btn {
    font-size: 9px !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    padding: 9px 12px !important;
    border-radius: 5px !important;
    background-color: #0067f6 !important;
}